## Naive Bayes

Пример использования наивного байесовского классификатора для задачи распознавания диабета.
В качестве распределений, моделирующих признаки, используются независимые нормальные распределения.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [4]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.data')
data.columns = ["N_PREGNANCY",
                "PLASMA_CONC",
                "BLOOD_PRESSURE",
                "SKIN_THICKNESS",
                "SERUM_INSULIN",
                "BODY_MASS_INDEX",
                "DIABETES_FUNCTION",
                "AGE",
                "TARGET"]
data.head()

,N_PREGNANCY,PLASMA_CONC,BLOOD_PRESSURE,SKIN_THICKNESS,SERUM_INSULIN,BODY_MASS_INDEX,DIABETES_FUNCTION,AGE,TARGET
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [6]:
train, test = train_test_split(data, test_size = 0.67)
print('Split {0} rows into train={1} and test={2} rows'.format(len(data), len(train), len(test)))
mean = train.groupby(['TARGET']).mean()
std = train.groupby(['TARGET']).std(0)

Split 767 rows into train=253 and test=514 rows

In [7]:
mean

,N_PREGNANCY,PLASMA_CONC,BLOOD_PRESSURE,SKIN_THICKNESS,SERUM_INSULIN,BODY_MASS_INDEX,DIABETES_FUNCTION,AGE
TARGET,,,,,,,,
0,3.377143,108.754286,66.131429,19.137143,66.062857,30.282286,0.415017,30.691429
1,4.410256,138.641026,68.794872,22.423077,106.653846,34.716667,0.608192,37.166667

In [8]:
std

,N_PREGNANCY,PLASMA_CONC,BLOOD_PRESSURE,SKIN_THICKNESS,SERUM_INSULIN,BODY_MASS_INDEX,DIABETES_FUNCTION,AGE
TARGET,,,,,,,,
0,3.097565,28.150659,19.885095,14.967910,97.580335,7.088903,0.308825,11.337759
1,3.409774,32.426633,24.454227,17.613019,127.882441,8.952588,0.447424,11.234581

In [9]:
X = np.array(test)[:,:-1]
m = np.array(mean)[0,:]
s = np.array(std)[0,:]
log_p0_test = np.sum(- np.log(s) - np.log(2*np.pi) / 2.0 - (X - m)**2 / 2 / s**2, axis=1)
X = np.array(test)[:,:-1]
m = np.array(mean)[1,:]
s = np.array(std)[1,:]
log_p1_test = np.sum(- np.log(s) - np.log(2*np.pi) / 2.0 - (X - m)**2 / 2 / s**2, axis=1)

prediction_test = log_p1_test > log_p0_test

In [10]:
float(np.sum(test['TARGET'] == prediction_test)) / len(test)

0.7392996108949417